page-payment-confirmation {
    ion-content{
                background-color: rgb(230,230,230)!important;
    }
    .title-payment {
        width: 100%;
        font-family: RaleTitle;
        margin: 15px auto;
        font-size: 16px;
    }
    .publish-adv-btn{
        border: 1px solid transparent;
        border-radius: 10px;
        background: rgb(34,146,192);
    }
}
