page-history-of-products {
        font-family: RaleTitle;
    
    ion-content{
        background-color: rgb(230,230,230)!important;
    }

    ion-card {
        background: white;
        border: 1px solid grey;
        border-radius: 10px !important;
    }
    ion-card-header {
        font-family: RaleTitle;
        font-size: 16px;
        width: 80%;
    }
         .img-col{
        height:30px;
        width:30px;
        text-align: center !important;
        margin-left: 50px;
    }
    li{
        font-family: RaleTitle;
        font-size: 10px;
    }
    h3{
        font-family: RaleTitle;        
    }

    .ionitem-cls {
        border: 1px solid white !important;
        border-radius: 10px !important;
        margin: 15px auto;
        color:rgb(34,146,192);
        


        .item-inner {
            border: none !important;
        }
}

.chat-button {
            width: 15%;
            display: inline-block;
            height: 100%;
            background: transparent;
        }
        .chat-button::after{
            content: url("../assets/icon/bt-siguiente.png");
            width: 30px;
            height: 30px;
            position: absolute;
            left: 90%;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align: center;
            line-height: 40px;
            align-items: center;
        }
}
